*{
    margin: 0;
    padding: 0;
}


/* ...............................BARRA DE NAVEGACION...............................*/
.container-fluid{
    display: flex;
}
#navbarNav{
    justify-content: end;
}
h1{
    margin: 0;
    padding: 0;
    background-color: #FF5F9E;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
/*............................BARRA DE FILTRO Y BUSQUEDA............................*/
.btn{
    background-color: #ff5f9f7c;
    color: aliceblue;

}

/*....................................TARJETAS....................................*/
/*#tarjetas{
    margin: 40px 0px; 
}*/

/*...................................COMENTARIOS...................................*/

/*  GRID
 no puedo modificar nada, la pantalla esta dividida  
en columnas predeterminadas y tengoq ue modificarlo deacuerdo a eso
form{
    margin: 120PX 50px;
}*/



/*.....................................FOOTER.....................................*/
footer{
    background-color: #FF5F9E;
    /*display: grid;*/
    padding: 10px;
}
svg{
    height: 30px;
    width: 30px;
    color: aliceblue;
    margin: 0 10px;

}