*{
    margin: 0;
    padding: 0;
}

#body {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}


/* ...............................BARRA DE NAVEGACION...............................*/
.container-fluid{
    display: flex;
}
#navbarNav{
    justify-content: end;
}
ul  li{ 
   margin: 0 15px;
}
h1{
    margin: 0;
    padding: 0;
    background-color: #FF5F9E;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
/*..........BARRA DE FILTRO Y BUSQUEDA(en realidad para todos los botones)..........*/
.btn{
    background-color: #ff5f9f7c;
    color: aliceblue;

}

main{
    margin: 10px;
}
#checkboxs{
    display: flex;
    justify-content: space-evenly;
}
/*....................................TARJETAS....................................*/
#elementos{
   margin-top: 0;
   display: flex;
   justify-content: center

}


.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*...................................COMENTARIOS...................................*/



/*.....................................FOOTER.....................................*/
footer{
    background-color: #FF5F9E;
    /*display: grid;*/
    padding: 10px;
    display: grid;
    justify-items: center;
}
a{
    text-decoration: none;
}
svg{
    height: 30px;
    width: 30px;
    color: aliceblue;
    margin: 0 10px;

}
